<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Framework Tricks</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            @Html.ActionLink("Framework Tricks", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @Html.ActionLink("Restaurants", "Index", "Restaurants", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Ajax Examples", "Index", "Ajax", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Custom Action Results", "Index", "ActionResult", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Action Filters", "Index", "ActionFilter", null, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-info">@TempData["Message"]</div>
        }

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")

    @* HACK: To enable client-side validation you must:

        1) Set ClientValidationEnabled and UnobtrusiveJavaScriptEnabled to true in Web.Config:

        <configuration>
            <appSettings>
              <add key="ClientValidationEnabled" value="true" />
              <add key="UnobtrusiveJavaScriptEnabled" value="true" />
            </appSettings>
        </configuration>

        2) Ensure that jquery.validation.unobtrusive.js is included AFTER the main jquery library
    *@

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
